@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f1f1f1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0598f3;
  border-radius: 10px;
}
